/* le corps de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

/* l'en-tête profil */
h1 {
    text-align: center;
    background-color: #000000; /* Bleu */
    color: #fff;
    padding: 20px 0;
    font-size: 24px;
}

/* la photo de profil */
img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* les titres de sections */
h2 {
    background-color: #000; /* Bleu */
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

/* les listes */
ul {
    list-style: none;
    padding-left: 0;
}

/* les éléments de liste */
li {
    margin: 10px 0;
    font-size: 16px;
}

/* les liens */
a {
    color: #007bff; /* Bleu */
    text-decoration: none;
    font-weight: bold;
}

/* les liens */
a:hover {
    text-decoration: underline;
}

/* le tableau de compétences */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* les cellules du tableau */
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

/* les sections d'expérience */
li > ul {
    margin-left: 20px;
}
