*{
    margin: 0;
    padding: 0;
}

body {
    color : white;
    background-color: darkslategrey;
}

h1 {
    color: yellow;
}

h2 {
    color: yellow;
}

h3 {
    color: yellow;
}

a {
    color: lightskyblue;
}